<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationIntelligence - Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LocationIntelligenceSDKTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F1E205A1BCD4000000175C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1E20631BCD4001000175C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1E20C61BCD4254000175C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F3934621AFCBD8300ED8859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F39346D1AFCBD8300ED8859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
